<router-outlet></router-outlet>
<!-- Toolbar -->
<div  class="toolbar" role="banner">
  <span>Employee Application</span>
  <button  class="btn btn-success" (click)="openAddEditEmpForm()">ADD EMPLOYEE</button>
</div>
<div class="d1">
    <ul class="horizontal" *ngFor="let emp of displayedColumns">
    <li style="margin-right: 50px;">{{emp.field}}</li>
  </ul>
  </div>
  <div>
  <ul  class="horizontal"  *ngFor="let emp of employeeData" [ngSwitch]="emp.id" >
      <li style="margin-left: 10px;">{{emp.id}}</li>
      <li [ngStyle]="{'background-color': emp.id === 187 ? 'red':' green' }" style="margin-left: 100px;">{{emp.firstName}}</li>
      <li style="margin-left: 50px;" >{{emp.lastName}}</li>
      <!-- <li >{{emp.email}}</li> -->
      <li [ngClass]="{'bg-yellow': emp.id === 188 }"  style="margin-left: 50px;" >{{emp.dob |date}}</li>
      <li style="margin-left: 90px;" >{{emp.gender}}</li>
      <!-- <li >{{emp.education}}</li> -->
      <li style="margin-left: 10px;">{{emp.company}}</li>
     <li >
      <div  *ngSwitchCase="187">
        <button mat-icon-button color="primary" (click)="openEditForm(emp)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
        <div *ngSwitchCase="189">
          <button style="margin-left: 10px;" mat-icon-button color="warn" (click)="deleteEmployee(emp.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        </li>
      <!-- <li >{{emp.experience}}</li>
      <li >{{emp.package}}</li> -->
  </ul>
  <div >
    <button (click)="'edit'">EDIT</button>
    <button (click)="'add'">ADD</button>
  </div>
</div>

